.timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  flex-direction: column;
  align-items: center;
}

.timeline-circle {
  position: relative;
  width: 530px;
  height: 530px;
  border: 2px solid #42567a2b;
  border-radius: 50%;
}

.timeline-slice {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  transform-origin: center center;
  transition: all 0.3s ease;
}

.timeline-slice.active {
  color: #fff;
  background-color: #0077ff;
  border-radius: 1rem;
}

.timeline-center {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 10rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
}


.timeline-slider-wrapper {
  margin-top: 3rem;
  max-width: 100%;
 
}

.timeline-slide {
  max-width: 320px;
  width: 100%;
  margin-left: 40px;
}

.timeline-slide h3 {
  color: #3877EE;
  font-size: 25px;
  margin-bottom: 15px;
}

.timeline-slide p {
  color: #42567A;
  font-size: 20px;
  line-height: 30px;
}

.timeline-rotation-wrapper {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  transform-origin: center;
}



.timeline-stats {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
}

.digit-group {
  display: flex;
  gap: 0.2rem;
  font-size: 200px;
  color: #5D5FEF;
  z-index: 20;
  position: relative;
}

.digit-group:last-child {
  color: #EF5DA8;
  margin-left: 120px;
}

.digit-wrapper {
  overflow: hidden;
  height: 2em;
  width: 1ch;
  position: relative;
}

.digit-strip {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.digit {
  height: 2em;
  text-align: center;
  line-height: 2em;
}

.stats-label {
  font-size: 1rem;
  color: #666;
  margin-left: 0.5rem;
}

.timeline-nav-buttons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  position: absolute;
  left: 200px;
  bottom: 200px;
  
}

.timeline-nav-buttons button {
 
  border: 1px solid hsla(219, 30%, 37%, 0.5);
  padding: 18px 21px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;

}
.timeline-nav-buttons button:last-child {
  transform: rotate(180deg);
}

.timeline-nav-buttons button:hover {
  border: 1px solid hsla(219, 30%, 37%, 1);
}


.swiper-button-prev{
  left: 0px;
}
.swiper-button-next{
  right: 0;
}